$green-primary: #495e57;

$yellow-primary: #ffd414;

$salmon-secondary: #EE9972;
$brown-secondary: #FBDABB;
$gray-secondary: #EDEFEE;
$gray2-secondary: #CCC;
$dark-secondary: #333333;
$red-secondary: #FF0000;