@import 'styles';

.btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform .2s linear;

  &.btn-primary {
    border-radius: $border-radius-small;
    background-color: $yellow-primary;
  }

  &.btn-secondary {
    font-weight: 600;
    border: none;
    border-radius: 0px;
    background-color: transparent;
  }

  &.btn-secondary:hover {
    @include background-yellow-radius;
  }
}

.btn.animation:hover {
  transform: scale(1.05);
}